.History {
        flex-basis: 0;
        height: calc(100vh - 9em);
        overflow: auto;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
         margin-inline-start: 0px;
         margin-inline-end: 0px;
         padding-inline-start: 40px;
    li {
        /* border: 1px solid black;
        color: white;
        background-color: #204060; */
        border: 1px groove #ccc;
        color: #eee;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: .75em;
        margin-bottom: .5em;
        padding: .33em;
        border-radius: 3px;
        background: #2d5986;
        
    }
}

aside {
    margin-right: 1em;
    width: 25%;
}

h2 {
    font-weight: 700;
    margin-bottom: .5em;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    position: relative;
    left: 4%;
    font-size: 20px;
}
 
